<!-- src/app/info-box/info-box.component.html -->
<div *ngIf="formSubmitted; else formEntry">
    <h4>{{ thankyouMessage }}</h4>
    <p>{{ formData.name }}, Your registration is completed!</p>
  </div>
  <ng-template #formEntry>
    <h4>{{ signupTitle }}</h4>
    <p>Hi Please register yourself</p>
    <form (ngSubmit)="onSubmit()" #emailForm="ngForm">
      <div>
        <label>Name:</label>
        <input type="text" name="name" [(ngModel)]="formData.name">
      </div>
      <div>
        <label>Email:</label>
        <input type="text" name="email" [(ngModel)]="formData.email">
      </div>
      <div>
        <button type="submit" [disabled]="!emailForm.form.valid">Sign up!</button>
      </div>
    </form>
  </ng-template>